<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="wrapper"></div>
    <script src="/javascripts/react.js"></script>
    <script src="/javascripts/react-dom.js"></script>
    <script src="/javascripts/browser.js"></script>
    <script src="/javascripts/index.js" type="text/babel"></script>
  </body>
</html>
